@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("../fonts/relevance/Relevance-trial-Regular-BF65d41be299a63.ttf"); */
@font-face {
  font-family: fa;
  src: url(../fonts/relevance/Relevance-trial-Regular-BF65d41be299a63.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: fa;
  /* background-color: rgb(17, 20, 70); */
  background-color: rgb(17, 20, 20);
  background-color: rgb(17 24 39);

  color: white;
}
a:hover {
  color: gray;
}
